@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&display=swap');

body {
  font-family: 'Orbitron', sans-serif;
  background-color: #000;
  color: #fff;  
  margin: 0;
  margin-bottom: 75px; /* Adjust this value as needed */
}

body.about-active {
  background-color: #111; /* Dark background color for the About page */
}

header {
  background-color: #333;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}

.header-container h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white; /* Adjust text color if needed */
  font-size: 54px; /* Adjust font size here */
  margin: 0;
  font-weight: bold; /* Optional: Makes the text bold */
}

.top-right-image {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
}

.top-right-image img {
  max-width: 100px; /* Adjust size as needed */
  height: auto;
}


.header-container img {
  margin-right: 10px;
}

nav i {
  margin-right: 6px;  
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
}

nav li {
  float: left;  
}

nav a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #555;
}

#hero img {
  width: 100%;
  border: 4px solid #0096ff;
}

/* Extended content styles */
.extended-content {
  padding: 20px;
}

footer {
  background-color: #333;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Push content to the edges */
  align-items: center; /* Vertically align items */
}

.footer-left {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align content to the left */
}

.footer-left p {
  margin: 5px 0 0; /* Space between text */
}

.footer-right {
  margin-right: 10px; /* Add space from the edge */
}

footer a {
  color: white; /* Change the link color to white */
  text-decoration: none; /* Remove underline for cleaner look */
}

footer .discord-link {
  color: white; /* Icon color */
  font-size: 50px; /* Adjust icon size */
  text-decoration: none;
  margin-right: 10px; /* Space from edge */
}

footer .discord-link:hover {
  color: #7289da; /* Discord brand color on hover */
}


/* About content styles */
.content-section {
  margin: 20px;
  padding: 20px;
  background-color: #111; /* Dark background color for the About and Events page */
  color: #fff;
}

.content-section h2 {
  font-size: 24px;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.content-section p {
  font-size: 16px;
  margin-bottom: 15px;
}

.content-section a {
  color: #0096ff;
  text-decoration: none;
}

.content-section a:hover {
  text-decoration: underline;
}
